@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900");
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: #00000060;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 50;
}

.bg-file {
  font-family: "Muli", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 580px;
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: solid 1px #f2f2f2;
  position: relative;
  z-index: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bg-file-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bg-file-head-title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-left: 40%;
}

.bg-file-head-title h1 {
  font-weight: 900;
  color: #FD6500;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.bg-file-head-title p {
  font-weight: 400;
  color: #b3b3b4;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.bg-file-head-close {
  color: #6F6F6F;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bg-file-head-close:hover {
  color: #FD6500;
  cursor: pointer;
}

.bg-file-content {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.bg-file-content-item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  box-sizing: border-box;
  border-bottom: solid 1px #f2f2f2;
  padding: 20px 30px;
}

.bg-file-content-item-input {
  width: 240px;
  height: 100%;
}

.bg-file-content-item-input label {
  width: 100%;
  color: #6F6F6F;
  font-weight: bold;
}

.bg-file-content-item-input label input,
.bg-file-content-item-input label textarea {
  height: 40px;
  border: solid 1.5px #f2f2f2;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
  color: #b3b3b4;
  padding-left: 15px;
  width: 100%;
  max-width: 240px;
  min-height: 40px;
  min-width: 240px;
}

.bg-file-content-item-input label textarea {
  padding-top: 10px;
}

.bg-file-content-item-input label input:hover,
.bg-file-content-item-input label textarea:hover {
  border: solid 1.5px #FD6500;
}

.bg-file-content-item-input label input::-webkit-input-placeholder,
.bg-file-content-item-input label textarea::-webkit-input-placeholder {
  color: #b3b3b4;
  letter-spacing: .5px;
  font-weight: 600;
}

.bg-file-content-item-input label input:-ms-input-placeholder,
.bg-file-content-item-input label textarea:-ms-input-placeholder {
  color: #b3b3b4;
  letter-spacing: .5px;
  font-weight: 600;
}

.bg-file-content-item-input label input::-ms-input-placeholder,
.bg-file-content-item-input label textarea::-ms-input-placeholder {
  color: #b3b3b4;
  letter-spacing: .5px;
  font-weight: 600;
}

.bg-file-content-item-input label input::placeholder,
.bg-file-content-item-input label textarea::placeholder {
  color: #b3b3b4;
  letter-spacing: .5px;
  font-weight: 600;
}

.bg-file-content-item-input label input:focus,
.bg-file-content-item-input label textarea:focus {
  border: solid 1.5px #687C8F;
  color: #687C8F;
  background: #f2f2f2;
}

.bg-file-content-item-check {
  width: 100px;
  height: 100%;
  text-align: center;
}

.bg-file-content-item-check label {
  width: 100%;
  color: #6F6F6F;
  font-weight: bold;
}

.bg-file-content-item-check label input {
  width: 100%;
  max-width: 100px;
  min-height: 20px;
  min-width: 100px;
  height: 20px;
  margin-top: 20px;
  border: #6F6F6F;
  background: #f8f8f8;
}

.bg-file-total {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.bg-file-total-head {
  color: #6F6F6F;
  margin-right: 20px;
}

.bg-file-total-content {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  background: #FD6500;
  color: #fff;
  padding: 5px 20px;
  border-radius: 100px;
}
/*# sourceMappingURL=historial-servicio.css.map */