@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900");
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.turns-bgTwo {
  width: 100vw;
  height: 100vh;
  background: #00000060;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.turns-bgTwo-file {
  font-family: "Muli", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 500px;
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: solid 1px #f2f2f2;
  position: relative;
  z-index: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.turns-bgTwo-file-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.turns-bgTwo-file-head-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: bold;
  color: #b3b3b4;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.turns-bgTwo-file-head-back .fas {
  margin-left: 15px;
  margin-right: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.turns-bgTwo-file-head-back:hover {
  color: #FD6500;
}

.turns-bgTwo-file-head-back:hover .fas {
  margin-left: 0;
  margin-right: 5px;
}

.turns-bgTwo-file-head-title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.turns-bgTwo-file-head-title h1 {
  font-weight: 900;
  color: #FD6500;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.turns-bgTwo-file-head-title h3 {
  font-weight: 400;
  letter-spacing: 2px;
  color: #b3b3b4;
}

.turns-bgTwo-file-head-close {
  color: #6F6F6F;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.turns-bgTwo-file-head-close:hover {
  color: #FD6500;
  cursor: pointer;
}

.turns-bgTwo-file-content {
  width: 100%;
}

.turns-bgTwo-file-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.turns-bgTwo-file-content-row-item:nth-child(1) {
  width: 60%;
}

.turns-bgTwo-file-content-row-item:nth-child(2), .turns-bgTwo-file-content-row-item:nth-child(3), .turns-bgTwo-file-content-row-item:nth-child(4) {
  border: solid 2px #6F6F6F;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5px;
  color: #6F6F6F;
}

.turns-bgTwo-file-content-row-item:nth-child(3), .turns-bgTwo-file-content-row-item:nth-child(4) {
  border-radius: 20px;
}

.turns-bgTwo-file-content-row-item {
  -webkit-transition: all .4s;
  transition: all .4s;
  color: #b3b3b4;
}

.turns-bgTwo-file-content-row-item:hover {
  color: #FD6500;
  border-color: #FD6500;
}

.turns-bgTwo-file-content-row:nth-child(1) .bg-file-content-row-item {
  border: none;
  color: #FD6500;
  font-weight: 900;
}

.turns-bgTwo-file-content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  margin-top: 50px;
}

.turns-bgTwo-file-content-buttons button {
  width: 200px;
  padding: 6px;
  border: solid 1.5px #687C8F;
  border-radius: 10px;
  background: rgba(0, 69, 144, 0.1);
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  color: #687C8F;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 10px;
  margin-bottom: 8px;
  letter-spacing: 1.5px;
}

.turns-bgTwo-file-content-buttons button:hover {
  border-color: #FD6500;
  color: #FD6500;
  background: white;
  cursor: pointer;
}
/*# sourceMappingURL=ingreso-dos.css.map */