@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900');
$muli: 'Muli',
sans-serif;


$gray: #f8f8f8;
$darkGray: #f2f2f2;
$fontGray: #b3b3b4;
$fontGrayTitle: #6F6F6F;
$blueFont:#687C8F;
$blue: #004590;
$orange: #FD6500;

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.dashboard {
    background: $gray;
    width: 20vw;
    height: 100vh;
    transition: all .4s;
    box-sizing: border-box;
    color: $fontGrayTitle;
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 0 30px;
    position: fixed;
    z-index: 10;

    &-title {
        height: 26vh;
        font-family: $muli;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        letter-spacing: 1px;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;

        span {
            display: block;
            font-weight: 800;
        }
    }

    &-sort {
        height: 15vh;
        border: solid $fontGray 1.2px;
        border-left: none;
        border-right: none;
        font-family: $muli;
        font-weight: 700;

        &-center {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            height: 100%;

            &-cont {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: stretch;
                align-items: center;
                margin-bottom: 15px;
                margin-top: 10px;

                p {
                    text-align: left;
                }

                &-icons {
                    a {
                        text-decoration: none;
                        color: $fontGrayTitle;

                        i {
                            margin: 0 2px;
                            cursor: pointer;
                            transition: all .2s;
                            font-weight: 700;
                        }

                        i:hover {
                            color: $orange;
                        }
                    }

                    .selected {
                        color: $orange;

                    }

                }
            }

            &-input {
                margin: 0;
                padding: 0;
                margin-bottom: 20px;

                select {
                    width: 100%;
                    height: 30px;
                    border-radius: 20px;
                    color: $fontGrayTitle;
                    font-weight: 700;
                    padding-left: 20px;

                }
            }

            &-button {
                margin-bottom: 10px;

                button {
                    width: 100%;
                    height: 30px;
                    border-radius: 15px;
                    border: none;
                    color: $fontGrayTitle;
                    font-weight: 600;
                    font-family: $muli;
                    background: #ffffff;
                    transition: all .4s;
                    border: solid 2px $blue;
                    font-weight: bold;
                }

                button:hover {
                    color: $orange;
                    border-color: $orange;
                    background: #ffffff;
                }
            }

        }

    }

    &-nav {
        height: 58vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;

        &-menu {
            height: 95%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            width: 100%;

            a {
                color: $fontGrayTitle;
                background: #ffffff;
                border: solid 1.5px $blue;
                text-decoration: none;
                width: 70%;
                text-align: center;
                border-radius: 20px;
                padding: 15px 0;
                margin: 7px 0;
                font-family: $muli;
                font-weight: 800;
                transition: all .2s;
            }

            a:hover {
                border-color: $orange;
                color: $orange;
            }

            .selected {
                border-color: $orange;
                color: $orange;
            }
        }

        &-logo {
            img {
                max-width: 100px;
            }
        }
    }

}

.turns {
    margin-left: 20vw;
    width: 80vw;
    height: 100vh;
    transition: all .4s;
    box-sizing: border-box;
    color: $fontGrayTitle;
    position: absolute;

    &-head {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        width: 80vw;
        background: #ffffff;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15);
        padding: 15px 50px;
        box-sizing: border-box;
        border-bottom: solid $darkGray 1px;
        z-index: 3;
        position: fixed;

        h1 {
            font-weight: 900;
            font-size: 24px;
            color: $orange;
            font-family: $muli;
        }

        &-user {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            &-name {
                color: $blueFont;
                font-family: $muli;
                text-align: right;

                h4 {
                    font-weight: 800;
                }

                p {
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: .4px;
                    margin-top: 5px;

                }
            }

            &-photo {
                background: $darkGray;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-left: 15px;
            }

            &-menu {
                margin-left: 10px;

                i {
                    transition: all .4s;
                    cursor: pointer;

                }

                i:hover {
                    transform: translateY(5px);
                    color: $orange;
                }
            }
        }
    }

    &-search {
        padding: 20px 50px;
        background: $blueFont;
        position: absolute;
        width: 100%;
        z-index: 0;
        margin-top: 50px;
        box-sizing: border-box;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: stretch;
        align-items: center;
        padding-top: 40px;

        &-input {
            width: 40%;

            &-icon {
                position: absolute;
                z-index: 2;
                display: block;
                width: 2.375rem;
                text-align: center;
                pointer-events: none;
                padding-top: 6px;
            }

            input {
                width: 100%;
                border-radius: 100px;
                padding: 8px;
                border: none;
                color: $fontGrayTitle;
                font-weight: 600;
                font-family: $muli;
                padding-left: 40 px;

            }
        }

        select {
            width: 20%;
            padding: 8px;
            border-radius: 100px;
            border: none;
            color: $fontGrayTitle;
            font-weight: 600;
            font-family: $muli;
            padding-left: 20px;
        }
    }

    &-content {
        height: 85%;
        padding: 20px 30px;
        margin-top: 140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        overflow-y: auto;

        &-card {
            background: $gray;
            border: solid 1.5px $blueFont;
            border-radius: 25px;
            width: 250px;
            height: 200px;
            font-family: $muli;
            text-align: center;
            margin: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;
            box-sizing: border-box;

            &-info {
                &-title {
                    font-weight: 900;
                    font-size: 18px;
                    color: $fontGrayTitle;
                    margin: 10px 0 10px 0;
                }

                &-checking {
                    margin: 10px 0;
                }

                &-services {
                    margin: 10px 0;

                    span:first-child {
                        margin-left: 0;
                    }

                    span {
                        margin: 0 5px;
                        transition: all .2s;
                    }

                    span:hover {
                        color: $orange;
                    }
                }

                &-history {
                    margin: 10px 0;
                }

            }


            &-buttons {
                &-schedule {
                    width: 200px;
                    padding: 6px;
                    border: solid 1.5px $blueFont;
                    border-radius: 10px;
                    background: rgba(0, 69, 144, 0.1);
                    font-family: $muli;
                    font-weight: 900;
                    letter-spacing: .5px;
                    color: $blueFont;
                    transition: all .2s;
                    margin: 10px;
                    margin-bottom: 8px;
                    margin-top: 10px;
                }

                &-schedule:hover {
                    border-color: $orange;
                    color: $orange;
                    background: white;

                }

                &-cancel {
                    font-weight: 600;
                    border: none;
                    background: none;
                    color: $fontGrayTitle;
                    transition: all .2s;
                }


                &-cancel:hover {
                    color: $orange;
                }
            }
        }

    }
}

//Información de cada mecanico

.bg {
    width: 100vw;
    height: 100vh;
    background: #00000060;
    position: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all .4s;
    z-index: 50;

    &-file {
        font-family: $muli;
        background-color: #fff;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 350px;
        display: block;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border: solid 1px $darkGray;
        position: relative;
        z-index: 1;
        transition: all .4s;

        &-head {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-title {
                text-align: center;
                margin-bottom: 20px;
                padding-top: 10px;
                margin-left: 25%;

                h1 {
                    font-weight: 900;
                    color: $orange;
                    letter-spacing: 4px;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 5px;
                }

                p {
                    font-weight: 400;
                    color: $fontGray;
                    font-size: 14px;
                    letter-spacing: 1px;
                    margin-top: 10px;
                }

            }

            &-close {
                color: $fontGrayTitle;
                transition: all .4s;
            }

            &-close:hover {
                color: $orange;
                cursor: pointer;

            }
        }

        &-content {
            width: 100%;
            height: 80%;

            &-item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: stretch;
                align-items: center;
                box-sizing: border-box;
                border-bottom: solid 2px $darkGray;
                padding: 15px 10px;

                &-title {
                    width: 40%;

                    h3 {
                        font-weight: bold;
                        color: $blueFont;
                    }
                }

                &-content {
                    width: 50%;
                    box-sizing: border-box;

                    ul {
                        list-style: none;

                        li {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            align-content: stretch;
                            align-items: flex-start;

                            .fas {
                                width: 30px;
                                background: white;
                                color: $fontGrayTitle;
                            }

                            p {
                                margin-left: 10px;
                                margin-bottom: 10px;
                                color: $fontGrayTitle;

                            }
                        }
                    }
                }
            }

            &-item:nth-child(1) {
                align-items: flex-start;


            }

            &-btns {
                text-align: center;
                margin-top: 10px;

                button{
                    width: 150px;
                    padding: 6px;
                    border-radius: 10px;
                    transition: all .4s;
                    margin: 10px;
                    cursor: pointer;
                }

                &-edit{
                    background: rgba(0, 69, 144, 0.1);
                    font-family: $muli;
                    font-weight: 900;
                    letter-spacing: .5px;
                    color: $blueFont;
                    border: solid 1.5px $blueFont;
                }

                &-edit:hover{
                    background: $blueFont;
                    color: #fff;
                }

                &-delete{
                    border: solid 1.5px $orange;
                    background: rgba(253,101,0,0.1);
                    font-family: $muli;
                    font-weight: 900;
                    letter-spacing: .5px;
                    color: $orange;
                }

                &-delete:hover{
                    background: $orange;
                    color: #fff;
                }
            }

        }
    }
}

.title-swa{
    font-weight: 900;
    color: $orange;
    letter-spacing: 1px;
    font-family: $muli;
}

.text-swa{
    font-family: $muli;
    margin: 10px 0;
    strong{
        font-weight: bold;
    }
}
