@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900");
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: #00000060;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 50;
}

.bg-file {
  font-family: "Muli", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 535px;
  display: block;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: solid 1px #f2f2f2;
  position: relative;
  z-index: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bg-file-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bg-file-head-title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-left: 25%;
}

.bg-file-head-title h1 {
  font-weight: 900;
  color: #FD6500;
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.bg-file-head-title p {
  font-weight: 400;
  color: #b3b3b4;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.bg-file-head-close {
  color: #6F6F6F;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bg-file-head-close:hover {
  color: #FD6500;
  cursor: pointer;
}

.bg-file-content {
  width: 100%;
  height: 80%;
}

.bg-file-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: solid 2px #f2f2f2;
  padding: 15px 10px;
}

.bg-file-content-item-title {
  width: 40%;
}

.bg-file-content-item-title h3 {
  font-weight: bold;
  color: #687C8F;
}

.bg-file-content-item-content {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-file-content-item-content ul {
  list-style: none;
}

.bg-file-content-item-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bg-file-content-item-content ul li .fas {
  width: 30px;
  background: white;
  color: #6F6F6F;
}

.bg-file-content-item-content ul li p {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #6F6F6F;
}

.bg-file-content-item:nth-child(1) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bg-file-content-btns {
  text-align: center;
  margin-top: 10px;
}

.bg-file-content-btns button {
  width: 150px;
  padding: 6px;
  border-radius: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 10px;
  cursor: pointer;
}

.bg-file-content-btns-edit {
  background: rgba(0, 69, 144, 0.1);
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  color: #687C8F;
  border: solid 1.5px #687C8F;
}

.bg-file-content-btns-edit:hover {
  background: #687C8F;
  color: #fff;
}

.bg-file-content-btns-delete {
  border: solid 1.5px #FD6500;
  background: rgba(253, 101, 0, 0.1);
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  color: #FD6500;
}

.bg-file-content-btns-delete:hover {
  background: #FD6500;
  color: #fff;
}

.title-swa {
  font-weight: 900;
  color: #FD6500;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
}

.text-swa {
  font-family: "Muli", sans-serif;
  margin: 10px 0;
}

.text-swa strong {
  font-weight: bold;
}
/*# sourceMappingURL=nuevo-mecanico.css.map */