@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,900');
$muli: 'Muli',
sans-serif;


$gray: #f8f8f8;
$darkGray: #f2f2f2;
$fontGray: #b3b3b4;
$blueFont:#687C8F;
$blue: #004590;
$orange: #FD6500;

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $muli;
    transition: all .4s;

}

.register {
    &-back {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        color: $fontGray;
        transition: all .4s;
        text-decoration: none;
        .fas{
            transition: all .4s;
        }
        p{
            margin-left: 5px;
            transition: all .4s;

        }
    }

    &-back:hover{
        transform: translateX(-10px);

        .fas{
            color: $orange;
            transform: translateX(-5px);

        }
        p{
            color: $orange;

        }
    }

    &-logo {
        width: 100%;
        display: block;
        margin-bottom: 57px;
        text-align: center;

        img {
            max-width: 280px;
        }

        p {
            color: $fontGray;
            letter-spacing: 2px;
            font-weight: 600;
            margin-top: 12px;
        }
    }

    &-form-one {
        &-btn {
            width: 100%;
            text-align: center;

            button {
                height: 40px;
                border: solid 1.5px $blueFont;
                border-radius: 10px;
                background: rgba(0, 69, 144, 0.1);
                font-family: $muli;
                font-weight: 900;
                letter-spacing: .5px;
                color: $blueFont;
                transition: all .4s;
                width: 100%;
                max-width: 320px;
                cursor: pointer;
            }

            button:hover {
                border: solid 1.5px $orange;
                border-radius: 10px;
                color: $orange;
                background: $gray;
            }

            button:disabled {
                font-weight: bold;
                font-family: $muli;
                letter-spacing: 2px;
                border: solid 1.5px $darkGray;
                background: $gray;
                height: 40px;
                color: $fontGray;
                border-radius: 10px;
            }
        }

        form {
            width: 80vw;
            max-width: 700px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            align-items: flex-start;
            box-sizing: border-box;

            div {
                width: 320px;
                margin-bottom: 15px;

                label {
                    width: 100%;
                    color: $fontGray;
                    font-weight: bold;

                    input {
                        height: 40px;
                        border: solid 1.5px $darkGray;
                        border-radius: 10px;
                        font-weight: 600;
                        font-family: $muli;
                        box-sizing: border-box;
                        margin-bottom: 13px;
                        margin-top: 10px;
                        transition: all .2s;
                        color: $fontGray;
                        padding-left: 15px;
                        width: 100%;
                    }

                    input:hover {
                        border: solid 1.5px $orange;
                    }

                    input::placeholder {
                        color: $fontGray;
                        letter-spacing: .5px;
                        font-weight: 600;
                    }

                    input:focus {
                        border: solid 1.5px $blueFont;
                        color: $blueFont;
                        background: $darkGray;
                    }
                    .complete{
                        border: solid 1.5px $blueFont;
                        color: $blueFont;
                        background: $darkGray;
                    }
                }

            }
        }


    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;

        margin-top: 63px;

        div {
            display: inline-block;
            width: 12px;
            height: 12px;
            border: solid 1.5px $fontGray;
            border-radius: 20px;
            margin-left: 10px;
            cursor: pointer;
        }

        :first-child {
            background: $fontGray;

        }

    }
}