@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,900');
$muli: 'Muli',
sans-serif;


$gray: #f8f8f8;
$darkGray: #f2f2f2;
$fontGray: #b3b3b4;
$blueFont:#687C8F;
$blue: #004590;
$orange: #FD6500;

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $muli;
    transition: all .4s;

}

.register {
    &-back {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        color: $fontGray;
        transition: all .4s;
        text-decoration: none;

        .fas {
            transition: all .4s;
        }

        p {
            margin-left: 5px;
            transition: all .4s;

        }
    }

    &-back:hover {
        transform: translateX(-10px);

        .fas {
            color: $orange;
            transform: translateX(-5px);

        }

        p {
            color: $orange;

        }
    }

    &-logo {
        width: 100%;
        display: block;
        margin-bottom: 57px;
        text-align: center;

        img {
            max-width: 280px;
        }

        p {
            color: $fontGray;
            letter-spacing: 2px;
            font-weight: 600;
            margin-top: 12px;
        }
    }

    &-service {
        height: max-content;
        border: solid 1.5px $blueFont;
        color: $blueFont;
        font-weight: 700;
        box-sizing: border-box;
        border-radius: 15px;
        background: $gray;

        &-services {
            display: inline-block;
            padding: 4px;
            border-right: solid 1.5px $blueFont;
            box-sizing: border-box;

            p {
                padding: 20px 70px;
                text-align: center;
                box-sizing: border-box;
                transition: all .4s;
            }

            p:hover {
                background: $darkGray;
                cursor: pointer;
            }
        }

        &-services:nth-child(1) {
            border-top-left-radius: 15px;
        }

        &-services:nth-child(2) {
            font-weight: 400;
        }

        &-services:nth-child(3) {
            width: 500px;
            border: none;
            display: inline-block;
            overflow-y: scroll;
            max-height: 310px;
            height: 310px;

            p {
                border: solid 1.5px $orange;
                background: #ffffff;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                letter-spacing: .5px;
                margin: 10px 10px;
                text-align: center;
                width: max-content;
                display: inline-block;
            }

            p:hover {
                background: $orange;
                color: #ffffff;
            }
        }

        &-services:nth-child(4) {
            display: block;
            border-top: solid 1.5px $blueFont;
            border-right: none;
        }
    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;

        margin-top: 63px;

        div {
            display: inline-block;
            width: 12px;
            height: 12px;
            border: solid 1.5px $fontGray;
            border-radius: 20px;
            margin-left: 10px;
            cursor: pointer;
        }

        :last-child {
            background: $fontGray;

        }
    }

    &-btn {
        width: 100%;
        text-align: center;
        margin-top: 50px;

        button {
            height: 40px;
            border: solid 1.5px $blueFont;
            border-radius: 10px;
            background: rgba(0, 69, 144, 0.1);
            font-family: $muli;
            font-weight: 900;
            letter-spacing: .5px;
            color: $blueFont;
            transition: all .4s;
            width: 100%;
            max-width: 320px;
            cursor: pointer;
        }

        button:hover {
            border: solid 1.5px $orange;
            border-radius: 10px;
            color: $orange;
            background: $gray;
        }

        button:disabled {
            font-weight: bold;
            font-family: $muli;
            letter-spacing: 2px;
            border: solid 1.5px $darkGray;
            background: $gray;
            height: 40px;
            color: $fontGray;
            border-radius: 10px;
        }
    }
}



.service-selected {
    background: $gray;
}

.swal2-header {
    .swal2-title {
        font-family: $muli !important;
        font-weight: 700 !important;
        color: $blueFont !important;
        font-size: 15px !important;
    }
}

.swal2-content {
    #swal-input1 {
        background: $gray !important;
        color: #727272 !important;
        border: solid 1.5px $blueFont!important;
        font-size: 12px!important;
        border-radius: 10px!important;
        min-height: 80px !important;

    }

}

.swal2-actions {
    .swal2-confirm {
        height: 40px!important;
        border: solid 1.5px $blueFont!important;
        border-radius: 10px!important;
        background: rgba(0, 69, 144, 0.1)!important;
        font-family: $muli!important;
        font-weight: 900!important;
        letter-spacing: 0.5px!important;
        color: $blueFont!important;
        transition: all .4s!important;
        width: 100%!important;
        max-width: 320px!important;
        cursor: pointer!important;
        margin: 0 !important;
        padding: 0 50px !important;

    }

    .swal2-confirm:hover {
        border: solid 1.5px $orange!important;
        border-radius: 10px!important;
        color: $orange!important;
        background: $gray!important;
    }

}

.popup-title{
    color: $blueFont;
    font-weight: bold;
    font-family: $muli;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 20px;
}

.popup-text{
    color: #6F6F6F;
    font-family: $muli;
    margin-bottom: 20px;

    .bolder{
        font-family: 700;
        font-family: $muli;

    }
}