@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,900");
body {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Muli", sans-serif;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.register-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #b3b3b4;
  -webkit-transition: all .4s;
  transition: all .4s;
  text-decoration: none;
}

.register-back .fas {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.register-back p {
  margin-left: 5px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.register-back:hover {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.register-back:hover .fas {
  color: #FD6500;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.register-back:hover p {
  color: #FD6500;
}

.register-logo {
  width: 100%;
  display: block;
  margin-bottom: 57px;
  text-align: center;
}

.register-logo img {
  max-width: 280px;
}

.register-logo p {
  color: #b3b3b4;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 12px;
}

.register-service {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: solid 1.5px #687C8F;
  color: #687C8F;
  font-weight: 700;
  border-radius: 15px;
  background: #f8f8f8;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 350px;
}

.register-service-services {
  padding: 4px;
  border-right: solid 1.5px #687C8F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.register-service-services p {
  padding: 20px 70px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.register-service-services p:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.register-service-services:nth-child(2) {
  font-weight: 400;
}

.register-service-services:nth-child(3) {
  width: 500px;
  border: none;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.register-service-services:nth-child(3) div {
  cursor: pointer;
  margin: 10px 10px;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  min-width: 120px;
}

.register-service-services:nth-child(3) div p {
  display: block;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: solid 1.5px #FD6500;
  background: #ffffff;
  border-radius: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.register-service-services:nth-child(3) div span {
  display: none;
  padding: 10px 8px;
  background: #FD6500;
  color: #ffffff;
  border-radius: 20px;
  border: solid 1.5px #FD6500;
  -webkit-transition: all .4s;
  transition: all .4s;
  min-width: 120px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  letter-spacing: 1px;
}

.register-service-services:nth-child(3) div:hover p {
  display: none;
}

.register-service-services:nth-child(3) div:hover span {
  display: block;
}

.register-add {
  background: #f8f8f8;
  text-align: center;
  padding: 20px;
  border: solid 1.5px #687C8F;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #687C8F;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.register-add:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.register-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 63px;
}

.register-nav div {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 1.5px #b3b3b4;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.register-nav :last-child {
  background: #b3b3b4;
}

.register-btn {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.register-btn button {
  height: 40px;
  border: solid 1.5px #687C8F;
  border-radius: 10px;
  background: rgba(0, 69, 144, 0.1);
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  color: #687C8F;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
}

.register-btn button:hover {
  border: solid 1.5px #FD6500;
  border-radius: 10px;
  color: #FD6500;
  background: #f8f8f8;
}

.register-btn button:disabled {
  font-weight: bold;
  font-family: "Muli", sans-serif;
  letter-spacing: 2px;
  border: solid 1.5px #f2f2f2;
  background: #f8f8f8;
  height: 40px;
  color: #b3b3b4;
  border-radius: 10px;
}

.service-selected {
  background: #f8f8f8;
}

.swal2-header .swal2-title {
  font-family: "Muli", sans-serif !important;
  font-weight: 700 !important;
  color: #687C8F !important;
  font-size: 15px !important;
}

.swal2-content #swal-input1 {
  background: #f8f8f8 !important;
  color: #727272 !important;
  border: solid 1.5px #687C8F !important;
  font-size: 12px !important;
  border-radius: 10px !important;
  min-height: 80px !important;
}

.swal2-actions .swal2-confirm {
  height: 40px !important;
  border: solid 1.5px #687C8F !important;
  border-radius: 10px !important;
  background: rgba(0, 69, 144, 0.1) !important;
  font-family: "Muli", sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 0.5px !important;
  color: #687C8F !important;
  -webkit-transition: all .4s !important;
  transition: all .4s !important;
  width: 100% !important;
  max-width: 320px !important;
  cursor: pointer !important;
  margin: 0 !important;
  padding: 0 50px !important;
}

.swal2-actions .swal2-confirm:hover {
  border: solid 1.5px #FD6500 !important;
  border-radius: 10px !important;
  color: #FD6500 !important;
  background: #f8f8f8 !important;
}

.popup-title {
  color: #687C8F;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 20px;
}

.popup-text {
  color: #6F6F6F;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
}

.popup-text .bolder {
  font-family: 700;
  font-family: "Muli", sans-serif;
}
/*# sourceMappingURL=register-two.css.map */